/* body{
    background-color: #F8F7FF;
}
img{
    display:inline;
}
ul{
    list-style-type: none;
    background-color:#B8B8FF ;
}

li{
    display:inline;
}

li a{
    text-decoration: none;
    padding: 20px;
}
.search{
    display: inline;
} */